*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #282c34;
}

/* --------------------- */
/*         GLOBALS       */
/* --------------------- */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.full-height {
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
}

.overflow-hidden {
    overflow: hidden;
}

.w-screen {
    width: 100vw;
}

.h-screen {
    height: 100vh;
}